@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F0F0F;
  color: #F9FAFB;
  font-family: system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}